@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

.header {
  text-align: center;
  margin-top: 15px;
}

body {
  background-image: url('https://www.vhv.rs/file/max/5/59601_scroll-background-png.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1100px;
  font-family: 'Caesar Dressing', cursive;
  font-style: italic;
}

h1 {
  text-align: center;
}

.scores {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-top: 95px;
}

.playerScore {
  font-size: 1.5rem;
}

.computerScore {
  font-size: 1.5rem;
}

#p-count {
  text-align: center;
  font-size: 2rem;
}

#c-count {
  text-align: center;
  font-size: 2rem;
}

.game {
  text-align: center;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 65px;
}

button {
  font-family: "Caesar Dressing", cursive;
  font-size: 20px;
   box-shadow: 3px 3px #000000;
   border-radius: 4px;
   background-color: darkgoldenrod;
}

input {
  font-family: "Caesar Dressing", cursive;
  font-size: 20px;
   box-shadow: 3px 3px #000000;
   border-radius: 4px;
   background-color: darkgoldenrod;
}

.results {
  margin-bottom: 10px;
}

p {
  text-align: center;
}

.reset {
    text-align: center;
    margin-top: 200px;
}
